<launch>

  <!-- Initialize sonar -->
  <node name="sonar_publisher" pkg="kerberus_robot" type="sonar_publisher.py" respawn="true"/>
  <!-- Initialize motors / arduino -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <!-- Initialize voice -->
  <include file="$(find kerberus_robot)/launch/ros_vosk.launch" />
  <!-- Initialize kinect and laser -->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <param name="depth_registration" type="bool" value="true" />
  </include>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">
    <remap from="/cloud_in" to="/camera/depth_registered/points" />
  </node>

  <!-- Initialize tf -->
  <node name="tf_broadcaster" pkg="kerberus_robot" type="tf_broadcaster.py" respawn="true"/>

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.04 0.0 0.3 0.0 0.0 0.0 base_link laser 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_footprint" args="0.0 0.0 z 0.0 0.0 0.0 base_footprint  base_link 100"/> -->

  <!-- Initialize mapping -->
  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <param name="pub_map_odom_transform" value="true"/>
    <param name="map_frame" value="map" />
    <param name="base_frame" value="base_link" />
    <param name="odom_frame" value="base_link" />
  </include>

  <!-- Initialize control -->
  <node name="control_state_machine" pkg="kerberus_robot" type="robot_control.py" respawn="true"/>

</launch>
